{% extends 'base.html' %}

{% block content %}

<!--=============================================================-->

<div class="row">
<div class="col-md-3">



</div>

    <div class="col-md-9">
<!--        list sect -->
        <div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4 text-center"><u>Employee Gate Pass</u></h4>

    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover">
            <thead>
            <tr>
                <th>Employee Name</th>
                <th>Code</th>

                <th>Depture</th>
                <th>Arrival</th>
                <th>Reason</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for i in gp %}
            <tr>
                <td class="table-plus">{{i.employee_name}}</td>
                <td>{{i.emp_code}}</td>

                <td>{{i.departure}}</td>
                <td>{{i.arrival_time}}</td>
                <td>{{i.reason}}</td>
                <td>{{i.status}}</td>

            </tr>
            {% endfor %}

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>

<!--        end list sect -->
    </div>

</div>


{% endblock content %}