{% extends 'base.html' %}

{% block content %}


<!--=============================================================-->
<div class="card-box mb-30">
	{% if message %}
	
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<strong>{{message}}</strong>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
	  </div>
	  <br>
	{% endif %}
    <div class="pd-20">

        <a
									href="#"
									class="btn btn-sm btn-outline-primary"
									data-toggle="modal"
									data-target="#Medium-modal"
									type="button"
								>
									+ Add State/Region
								</a>
								<div
									class="modal fade"
									id="Medium-modal"
									tabindex="-1"
									role="dialog"
									aria-labelledby="myLargeModalLabel"
									aria-hidden="true"
								>
									<div class="modal-dialog modal-dialog-centered">
                                        <form action="#" method="post">{% csrf_token %}
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myLargeModalLabel">
													Add State/Region
												</h4>
												<button
													type="button"
													class="close"
													data-dismiss="modal"
													aria-hidden="true"
												>
													×
												</button>
											</div>

											<div class="modal-body">
												<div class="form-group row">
                    <label class="col-sm-12 col-md-12 col-form-label">State Name</label>
                    <div class="col-sm-12 col-md-12">
                        <input class="form-control" type="text" placeholder="" name="state_name">
                    </div>
                </div>
											</div>
											<div class="modal-footer">
												<button
													type="button"
													class="btn btn-secondary"
													data-dismiss="modal"
												>
													Close
												</button>
												<button type="submit" class="btn btn-primary">
													Save
												</button>
											</div>
										</div>
                                            </form>
									</div>
								</div>

    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
            <tr class="table-warning">

                <th class="text-center">ID</th>
                <th>State Region</th>



            </tr>
            </thead>
            <tbody>
            {% for p in st %}
            <tr class="table-info">
                <td class="table-plus text-center"><b>{{p.id}}</b></td>
                <td>{{p.state_name}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>

{% endblock content %}

